<!-- HEADER -->
			<div id="header">
				<div class="row-1">
					<div class="fleft"><a href="/index">Seemandhra <span>Cinemas</span></a></div>
					<ul>
						<li><a href="/index"><img src="/assets/icon1-act.gif" alt="" /></a></li>
						<li><a href="/contact"><img src="/assets/icon2.gif" alt="" /></a></li>
						<li><a href="/sitemap"><img src="/assets/icon3.gif" alt="" /></a></li>
					</ul>
				</div>
				<div class="row-2">
					<ul>
						<li><a href="/index" class="active">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/articles">Articles</a></li>
						<li><a href="/contact">Contacts</a></li>
						<li class="last"><a href="/sitemap">Sitemap</a></li>
					</ul>
				</div>
			</div>

<!-- HEADER END -->