 
<body id="page4">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
	<!-- header -->

				<%= render 'header' %>
				<!-- header end -->
<!-- CONTENT -->	
			<div id="content"> 
				<div class="line-hor"></div>
				 <h3>Under Development</h3>
			</div>
 
