 
<body id="page3">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
	<!-- header -->

				<%= render 'header' %>
				<!-- header end -->
<!-- CONTENT -->
				<div id="content"> 
				<div class="line-hor"></div>
				 <h3>Under Developement</h3>
			</div>
 