
<body id="page1">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
				<!-- header -->

				<%= render 'header' %>
				<!-- header end -->
<!-- CONTENT -->
			<div id="content">
				<div id="slogan">
					<div class="image png"></div>
					<div class="inside">
						<h2>A New Turn<span>TO TURN</span></h2>
						<p>One place where every wish turns into smile :-) </p>
						<div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div>
					</div>
				</div>
				<div class="box">
					<div class="border-right">
						<div class="border-left">
							<div class="inner">
							<h3>The Latest Ones You Never Gonna Miss !!</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<h3>Super<span>Hits</span></h3>
					<ul class="movies">
						<li>
						<h4>HeartAttack</h4><img src="/assets/movie1.jpg" alt="Heart Attack" />
						 
							<p>There will be nothing much to expect on the stories from Puri Jagannath movies. Its Puri&#8217;s style to make movies on story lines rather than a deep story.</p>
							<h5>Ratings</h5>
							<p><% 4.times do %><i class="fa fa-star-o fa-2x"></i><% end %></p>
						</li>
						<li>
							<h4>Yevadu</h4><img src="/assets/movie2.jpg" alt="Yevadu" />
							<p>Devi Sri music worked well for the movie. In the emotional sequences director used the names of Chiranjeevi and Pavan Kalyan which gave an added zeal to the audience.</p>
							<h5>Ratings</h5>
							<p><% 3.times do %><i class="fa fa-star-o fa-2x"></i><% end %><i class="fa fa-star-half-o fa-2x"></i></p>
						</li>
						<li class="last">
							<h4>Aaha Kalyanam</h4><img src="/assets/movie3.jpg" alt="Aaha Kalyanam" />
							<p>Aaha Kalyanam is an upcoming Tamil /Telugu romantic comedy film directed by debutant A. Gokul Krishna and produced by Aditya Chopra's Yash Raj Films.</p>
							<h5>Ratings</h5>
							<p>Rating Not Avilable</p>
						
						</li>
						<li class="clear">&nbsp;</li>
					</ul>
				</div>
			</div>
			<style type="text/css">
				img{
					padding-left: 42px;
				}
			</style>

