 
<body id="page6">
<div class="tail-top">
	<div class="tail-bottom">
		<div id="main">
	<!-- header -->

				<%= render 'header' %>
				<!-- header end -->
<!-- CONTENT -->
			<div id="content">
				<div class="line-hor"></div>
				 <i class="fa fa-shield fa-rotate-180"></i><h3>Under Developement</h3><i class="fa-terminal on fa-square"></i>
			</div>
 